html {
  box-sizing:border-box;
}

*, *::before, *::after {
  box-sizing:inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: rgb(48, 22, 3);
  color: rgb(228, 108, 23);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 900px;
  margin: auto;
}

.title {
  text-align: center;
  font-size: 150%;
}

.title h1 {
  color: darkgoldenrod;
  margin: 3px 0;
}

.title h2 {
  margin: 3px 0;
}

.title h4 {
  color: darkgoldenrod;
  margin: 3px 0;
}

.card {
  width: 750px;
  height: 450px;
  margin: auto;
  background-color: rgb(228, 108, 23);
  color: rgb(48, 22, 3);
  border-radius: 10px;
  padding: 50px;
}

.person {
  width: 650px;
  height: 200px;
  display: flex;
  justify-content: flex-start;
}

#picture {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin: 0 50px 0 0;
}

.info {
  align-self: center;
}

.label {
  font-size: 16px;
  margin: 0 0 0 0;
}

.info p {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 0 0;
}

.age {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

button {
  width: 200px;
  height: 80px;
  border-radius: 10px;
  border: none;
  background-color: rgb(48, 22, 3);
  color: darkgoldenrod;
  font-size: 50px;
  line-height: 40px;
  outline: none;
}

.listLinks {
  display: flex;
  justify-content: space-around;
}

.listLinks div{
  width: 200px;
  text-align: center;
}

.link {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: rgb(48, 22, 3);
}



.caroTitle {
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  margin: 20px;
}

.caroCards {
  display: flex;
  flex-wrap: wrap;
}

.caroPeople {
  list-style: none;
  width: 150px;
  height: 150px;
  margin: auto;
  background-color: rgb(228, 108, 23);
  color: rgb(48, 22, 3);
  border-radius: 10px;
  padding: 5px;
}

.caroPerson {
  width: 150px;
  height: 100px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#caroPicture {
  width: 50px;
  height: 50px;
  margin: 25px 0 0;
  border-radius: 50%;
}

.caroInfo p {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 0 0;
  text-align: center;
}

.sancTitle {
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  margin: 20px;
}

.sancCards {
  display: flex;
  flex-wrap: wrap;
}

.sancPeople {
  list-style: none;
  width: 150px;
  height: 150px;
  margin: auto;
  background-color: rgb(228, 108, 23);
  color: rgb(48, 22, 3);
  border-radius: 10px;
  padding: 5px;
}

.sancPerson {
  width: 150px;
  height: 100px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#sancPicture {
  width: 50px;
  height: 50px;
  margin: 25px 0 0;
  border-radius: 50%;
}

.sancInfo p {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 0 0;
  text-align: center;
}